{% extends 'default.twig' %}

{% block content %}
    <div class="sidebar">
        <span><a href="{{ URL }}/project/{{ project.url }}/view">Retour</a></span>
    </div>

    <h3 class="page-title">{{ project.name }}</h3>

    <form method="POST" action="">
        <div class="form-group">
            <input type="text" class="form-control" name="project_name" placeholder="Titre du projet" value="{{ project.name }}"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="project_description">{{ project.description }}</textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="project_url" placeholder="Url" value="{{ project.urlProject }}"/>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-default" name="submit" value="Appliquer les modifications"/>
        </div>
    </form>

    {{ message|raw }}
{% endblock %}