{% extends 'default.twig' %}

{% block content %}
    {% if removed %}
        <p class="bg-success message">
            Le projet à été correctement supprimé<br/>
            <a href="{{ URL }}/projects">Revenir à la liste des projets</a>
        </p>
    {% else %}
        <div class="sidebar">
            <span><a href="{{ URL }}/project/{{ project.url }}/view">Retour</a></span>
        </div>

        <h3 class="page-title">{{ project.name }}</h3>

        <div>
            <p class="alert alert-danger text-center">Attention, la suppression d'un projet est définitive ! Il ne sera en aucun cas
            possible de récupérer votre projet.</p>

            <form method="POST" action="" class="text-center">
                <div class="form-group col-lg-6">
                    <input type="password" name="password" placeholder="Veuillez entrer votre mot de passe" class="form-control text-center"/>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-default" name="remove" value="Supprimer le projet"/>
                </div>
            </form>
        </div>

        {{ message|raw }}
    {% endif %}
{% endblock %}