{% extends 'default.twig' %}

{% block content %}
    <div class="sidebar">
        <span><a href="{{ URL }}/project/{{ project.url }}/view">Retour</a></span>
    </div>

    <h3 class="page-title">{{ project.name }}</h3>

    <div>
        <h4>Ajouter un utilisateur</h4>
        <form method="POST" action="">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Nom de l'utilisateur"/>

                <select name="access" class="form-control margin-top">
                    <option value="3">Membre</option>
                    <option value="2">Modérateur</option>
                    <option value="1">Administrateur second</option>
                </select>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Ajouter" class="btn btn-default"/>
            </div>

            {% if message is not empty %}
                <p class="bg-primary message">
                    {{ message }}
                </p>
            {% endif %}
        </form>
    </div>

    <div>
        <h4>Supprimer un utilisateur</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Accès</th>
                    <th>Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.litteralAccess }}</td>
                        <td>
                            {% if user.access != 0 %}<a href="">Supprimer</a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}