<table class="table table-striped">
    <thead>
    {% block projectsHead %}
        <th>Nom</th>
        <th class="table-column-date">Date de création</th>
        <th class="table-column-date">Date de modification</th>
    {% endblock %}
    </thead>
    <tbody>
    {% for project in projects if project.owner != user.id %}
        <tr>
            {% block projectsBody %}
                <td><a href="{{ URL }}/project/{{ project.url }}/view">{{ project.name }}</a></td>
                <td class="table-column-date">{{ project.date_creation|date('d/m/Y') }}</td>
                {% if project.date_modification == 0 %}
                    <td class="table-column-date">-</td>
                {% else %}
                    <td class="table-column-date">{{ project.date_modification|date('d/m/Y') }}</td>
                {% endif %}
            {% endblock %}
        </tr>
    {% endfor %}
    </tbody>
</table>