{% set typeWebsite, typeGeneral, typeGame, typePrint3d = 0, 0, 0, 0 %}

{% for project in projects if project.owner == user.id %}
    {% if project.type == 'website' %}
        {% set typeWebsite = 1 %}
    {% elseif project.type == 'general' %}
        {% set typeGeneral = 1 %}
    {% elseif project.type == 'game' %}
        {% set typeGame = 1 %}
    {% elseif project.type == 'print3d' %}
        {% set typePrint3d = 1 %}
    {% endif %}
{% endfor %}

{% if typeWebsite == 1 and (type == 'website' or type == 'all') %}
    <h4 style="margin-bottom:0"><a href="{{ URL }}/projects/website" style="color:black">Sites Web</a></h4>
    <table class="table table-striped">
        {% block head %}
            <thead>
                <th>Nom</th>
                <th class="table-column-date">Date de création</th>
                <th class="table-column-date">Date de modification</th>
                <th class="table-column-remove"></th>
            </thead>
        {% endblock %}
        <tbody>
        {% for project in projects if project.owner == user.id and project.type == 'website' %}
            {% if loop.index == 11 and type != 'website' %}
                <tr>
                    <td><a href="{{ URL }}/projects/website">Voir d'avantages de projets du groupe Général...</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% elseif loop.index < 11 or type == 'website' %}
                <tr>
                    <td><a href="{{ URL }}/project/{{ project.url }}/view">{{ project.name }}</a></td>
                    <td class="table-column-date">{{ project.date_creation|date('d/m/Y') }}</td>
                    {% if project.date_modification == 0 %}
                        <td class="table-column-date">-</td>
                    {% else %}
                        <td class="table-column-date">{{ project.date_modification|date('d/m/Y') }}</td>
                    {% endif %}
                    <td class="table-column-remove"><a href="{{ URL }}/project/{{ project.url }}/remove">Supprimer</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if typeGeneral == 1 and (type == 'general' or type == 'all') %}
    <h4 style="margin-bottom:0"><a href="{{ URL }}/projects/general" style="color:black">Général</a></h4>
    <table class="table table-striped">
        {{ block('head') }}
        <tbody>
        {% for project in projects if project.owner == user.id and project.type == 'general' %}
            {% if loop.index == 11 and type != 'general' %}
                <tr>
                    <td><a href="{{ URL }}/projects/general">Voir d'avantages de projets du groupe Général...</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% elseif loop.index < 11 or type == 'general' %}
                <tr>
                    <td><a href="{{ URL }}/project/{{ project.url }}/view">{{ project.name }}</a></td>
                    <td class="table-column-date">{{ project.date_creation|date('d/m/Y') }}</td>
                    {% if project.date_modification == 0 %}
                        <td class="table-column-date">-</td>
                    {% else %}
                        <td class="table-column-date">{{ project.date_modification|date('d/m/Y') }}</td>
                    {% endif %}
                    <td class="table-column-remove"><a href="{{ URL }}/project/{{ project.url }}/remove">Supprimer</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if typeGame == 1 and (type == 'game' or type == 'all') %}
    <h4 style="margin-bottom:0"><a href="{{ URL }}/projects/game" style="color:black">Jeu</a></h4>
    <table class="table table-striped">
        {{ block('head') }}
        <tbody>
        {% for project in projects if project.owner == user.id and project.type == 'game' %}
            {% if loop.index == 11 and type != 'game '%}
                <tr>
                    <td><a href="{{ URL }}/projects/game">Voir d'avantages de projets du groupe Général...</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% elseif loop.index < 11 or type == 'game' %}
                <tr>
                    <td><a href="{{ URL }}/project/{{ project.url }}/view">{{ project.name }}</a></td>
                    <td class="table-column-date">{{ project.date_creation|date('d/m/Y') }}</td>
                    {% if project.date_modification == 0 %}
                        <td class="table-column-date">-</td>
                    {% else %}
                        <td class="table-column-date">{{ project.date_modification|date('d/m/Y') }}</td>
                    {% endif %}
                    <td class="table-column-remove"><a href="{{ URL }}/project/{{ project.url }}/remove">Supprimer</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if typePrint3d == 1 and (type == 'print3d' or type == 'all') %}
    <h4 style="margin-bottom:0"><a href="{{ URL }}/projects/print3d" style="color:black">Impression 3D</a></h4>
    <table class="table table-striped">
        {{ block('head') }}
        <tbody>
        {% for project in projects if project.owner == user.id and project.type == 'print3d' %}
            {% if loop.index == 11 and type != 'print3d' %}
                <tr>
                    <td><a href="{{ URL }}/projects/print3d">Voir d'avantages de projets du groupe Général...</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% elseif loop.index < 11 or type == 'print3d' %}
                <tr>
                    <td><a href="{{ URL }}/project/{{ project.url }}/view">{{ project.name }}</a></td>
                    <td class="table-column-date">{{ project.date_creation|date('d/m/Y') }}</td>
                    {% if project.date_modification == 0 %}
                        <td class="table-column-date">-</td>
                    {% else %}
                        <td class="table-column-date">{{ project.date_modification|date('d/m/Y') }}</td>
                    {% endif %}
                    <td class="table-column-remove"><a href="{{ URL }}/project/{{ project.url }}/remove">Supprimer</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}


{#<h4>Impressions 3D</h4>
<table class="table table-striped">
    <thead>
    {{ block('projectsHead') }}
    </thead>
    <tbody>
    {% for project in projects if project.owner == user.id and project.type == 'print3d' %}
        <tr>
            <td><a href="{{ URL }}/project/{{ project.url }}/view">{{ project.name }}</a></td>
            <td class="table-column-date">{{ project.date_creation|date('d/m/Y') }}</td>
            {% if project.date_modification == 0 %}
                <td class="table-column-date">-</td>
            {% else %}
                <td class="table-column-date">{{ project.date_modification|date('d/m/Y') }}</td>
            {% endif %}
            <td class="table-column-remove"><a href="{{ URL }}/project/{{ project.url }}/remove">Supprimer</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>#}