<div class="sidebar">
    <span><a href="{{ URL }}/project/{{ project.url }}/update">Modifier</a></span>
    <span><a href="{{ URL }}/project/{{ project.url }}/view/documentation">Documentation</a></span>
    <span><a href="{{ URL }}/project/{{ project.url }}/view/analytics">Analyse</a></span>
    <span><a href="{{ URL }}/project/{{ project.url }}/view/users">Utilisateurs</a></span>
    <span class="pull-right" style="display:inline-block"><a href="{{ URL }}/project/{{ project.url }}/remove">Supprimer</a></span>
</div>